<div class="container">
  <div class="row">
    <div
      class="col-md-8 mx-auto d-flex align-items-center justify-content-center"
    >
      <div class="content rounded px-4 w-100">
        <div class="header d-flex justify-content-center my-4">
          <h1>login</h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <div class="p-float-label mb-4">
            <input
              class="w-100 rounded"
              pInputText
              id="email"
              formControlName="email"
              placeholder="email"
            />
            <label for="email">your email</label>
          </div>

          <div class="p-float-label mb-4 password">
            <p-password
              class="w-full"
              placeholder="Password"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              id="password"
              formControlName="password"
              [toggleMask]="true"
            ></p-password>

            <label for="password">your password</label>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p-button label="Submit" (onClick)="login(loginForm)"></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
